@import url('https://fonts.googleapis.com/css?family=Muli:300,600');

body {
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}

a:hover, a:active {
  text-decoration: none;
}

input {
  width: 100%;
  border-radius: 4px;
  border: 1.5px green solid;
  padding: 6px;
  outline: none;
}

.centered {
  float: none;
  margin: 0 auto;
}

.messages {
  min-height: 20vh;
  max-height: 50vh;
  overflow: scroll;
  border: 1px gray solid;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 6px;
}

.message {
  display: flex;
  justify-content: space-between;
}

.text {
  font-weight: 600;
  font-size: 1.2em;
}

.sender {
  font-size: 1.2em;
  margin-right: 5px;
}

.timestamp {
  float: right;
  font-size: 0.7em;
  align-self: center;
}

.chat-list {
  margin-top: 30px;
}

.column-header {
  font-weight: 600;
}

.chat a {
  color: blue;
}
